.bg-green {
    background-color: #588157;
    color: white;
}

.bg-green-light {
    background-color: #dfedde;
    color: black;
}

.bg-green-saved-preferences {
    background-color: #344e41;
    color: white;
}

.bg-green-preferences {
    background-color: white;
    border: 1.5px solid #588157!important;
    color: #588157;
    font-weight: 500;
}

h5 {
    text-align: left;
}

.traveller-button {
    gap: 4px;
    margin: 0px 8px 8px 0px;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background-color: #dfedde;
}