.favouriteCountriesContainer {
    background-color: rgb(243, 248, 240);
    border: 0.1px solid rgb(244, 244, 244);
    border-radius: 8px;
    align-items: center;
    text-align: left;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.07);
    overflow-y: auto;
}

.favourites h4 {
    color: #3a5a40;
    font-size: 1.4em;
    margin: 0.8em auto;
    padding-bottom: 1em;
    border-bottom: 0.2px solid rgb(230, 230, 230);
}