.imgHero {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
    }

p {
    font-family: "DM-Sans", sans-serif;
    src: url('../../../src/assets/DM_Sans/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');

}

@font-face {
    font-family: "Predikat";
    src: url("../../../src/assets/Predikat_Oneday.ttf") format("truetype");
}

h1, h3 {
    font-family: "Predicat", sans-serif;
    text-align: left;
    font-weight: normal;
}

.heroBannerContainer {
    background-color: rgb(243, 248, 240);
    /* border: 0.1px solid rgb(244, 244, 244); */
    border-radius: 12px;
    /* box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.07); */
    padding: 1em;
}

/* .container {
    background-color: white;
} */